.dropdown {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.dropdown #menu {
  display: none;
}

.dropdown .-hover {
  color: #fdac7a;
}

.dropdown .-hover > span {
  text-decoration: underline dashed;
  font-style: italic;
}

.dropdown .-arrow::after {
  content: '\25BC';
  font-size: 50%;
  cursor: pointer;
}

.dropdown .-list {
  display: none;
  width: calc(100% + 10px);
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: -5px;
  z-index: 10;
}

.dropdown .-list a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.dropdown .-list a:hover {
  color: #fdac7a;
}

.dropdown #menu:checked ~ .-list {
  display: block;
}

.dropdown #menu:checked ~ .-arrow::after {
  content: '\25B2';
}
